.center-card{

background:white;

padding:30px;

margin-top:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.center-card h2{

color:#2E7D32;

margin-bottom:20px;

}

.center-buttons{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

margin-top:20px;

}

.center-buttons button{

padding:15px;

border:none;

border-radius:12px;

background:#2E7D32;

color:white;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.center-buttons button:hover{

background:#1B5E20;

transform:translateY(-3px);

}