.loading-container{

padding:80px;

text-align:center;

}

.loading-icon{

font-size:90px;

color:#2E7D32;

margin-bottom:20px;

}

.loading-container h2{

font-size:36px;

margin-bottom:15px;

}

.loading-container p{

color:#666;

margin-bottom:40px;

}

.loading-bar{

width:450px;

height:10px;

background:#ddd;

margin:auto;

border-radius:30px;

overflow:hidden;

}

.progress{

height:100%;

background:#2E7D32;

border-radius:30px;

}